#sideNTitle{
    position: absolute;
    top:12px;
    left:6%;
    color: rgb(247, 14, 80);
    font-weight: 500;
}
.sideNews{
    width: 18%;
    position: absolute;
    top:5%;
    height:auto;
    background: #ffffff;
    margin-top:1%;
    margin-left: 15px;
    border-radius:7px;
    box-shadow: rgba(7, 7, 7, 0.307) 0px 1px 4px;
}

#cont{
    height:auto;
    border-bottom: 1px solid rgb(178, 170, 170);
    margin:20px auto;
    width: 90%;
    /* background: rgb(203, 236, 237); */
}

h2{
    width: 90%;
    font-size: 15px;
    margin:-10px auto;line-height:20px;
    text-align: center;
}

#cont #content{
   color: #000000;margin:20px auto;
   text-align: justify;
   width: 93%;
   text-justify: auto;
   font-size: 13px;
}
img{
    width: 99%;
    margin-bottom:15px;
}

.RsideContent{
    width:260px;
    position:fixed;
    top:30%;
    right: 0;
    height:auto;
    background: #ffffff;
    margin-top:1%;
    margin-right: 15px;
    border-radius:7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}