    <div class="portion">
        <a id="news" routerLink="/news">News</a>
         <div *ngFor="let listMat of listOfMatches">
          <div  class="card"  *ngFor="let match of listMat.matchDetails?.matches">
            <div class="matchInfo">
            <p id="format">{{match.matchInfo.matchFormat}}</p>
            <p id="status">{{match.matchInfo.status}}</p>
             <div id="matchStat">
              
              <div id="details">
                <div id="team1">
                  <p id="runs1">{{match.matchScore?.team1Score.inngs1.runs}}/{{match.matchScore?.team1Score.inngs1.wickets}}</p>
                  <p id="overs1">({{match.matchScore?.team1Score?.inngs1?.overs}})</p>
                  <!-- <img [src]="getImage(match.matchInfo?.team1?.imageId)" alt=""> -->
                  <p id="teamName1">{{match.matchInfo?.team1.teamName}}</p>
                </div>
                <div id="team2">
                  <p id="runs2">{{match.matchScore?.team2Score?.inngs1?.runs}}/{{match.matchScore?.team2Score?.inngs1?.wickets}}</p>
                  <p id="overs2">({{match.matchScore?.team2Score?.inngs1?.overs}})</p>
                  <!-- <img [src]="getImage(match.matchInfo?.team2?.imageId)" alt=""> -->
                  <p id="teamName2">{{match.matchInfo?.team2?.teamName}}</p>
                </div>
              </div>
              
            </div>

            <p id="venue">{{match.matchInfo?.venueInfo?.ground}}, {{match.matchInfo?.venueInfo?.city}}</p>
            <a id="scoreB" routerLink="/scoreBoard" (click)="getMatchId(match.matchInfo?.matchId)" style="text-align: center;">Score Board</a>
          </div>
          
          <p id="date" *ngIf="listMat.matchDetails">{{listMat.matchDetails?.key}}</p>
          </div>
         </div>
      </div> 
