

 <nav>
    <div class="menu">
        <input type="checkbox" id="check">
      <div class="logo"><img src="../../assets/cricktab.png" alt=""></div>
       <ul>
          <label class="button cancel" for="check"><i class="fas fa-times"></i></label>
          
          <li id="firstL"><a routerLink=""><i class="fas fa-qrcode"></i>Home</a></li>
          <li id="other1"><a routerLink="/ranking"><i class="fas fa-question-circle"></i>Ranking</a>
          <ul id="rankT">
            <li><a href="" value="men">Men</a></li>
            <li><a href="" value="women">Women</a></li>
          </ul></li>
          <li id="other"><a href="#"><i class="fas fa-sliders-h"></i>Teams</a></li>

       </ul>
       <label class="button bars" for="check"><i class="fas fa-bars"></i></label>
  </div>
</nav>