<h1 id="sideNTitle">Latest News</h1>
<div class="sideNews">
 <div id="newsCont" *ngFor="let latestNews of news">
  <!-- <div id="newsCont"> -->
   <div id="cont">
      <img src="assets\worldCup.jpeg" alt="">
      <h2>{{latestNews.story?.hline}}</h2>
      <!-- <h2>kasjdn aksj d</h2> -->
      <p id="content">{{latestNews?.story?.intro}}</p>
      <!-- <p id="content">alksndl aklsndlk skldj kla sdlk  askdl olas dkl d  alsk d</p> -->
   </div>
 </div>
</div>



<div class="RsideContent">
  <div id="newsCont">
    <div id="cont">
    <img src="assets\img_Not_Found.jpg" alt="">
    </div>
  </div>
</div>
